# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                 #
#    ██╗  ██╗██╗███████╗ ██████╗     ██████╗ ██████╗  ██████╗ ██╗   ██╗██████╗    #
#    ██║  ██║██║██╔════╝██╔════╝    ██╔════╝ ██╔══██╗██╔═══██╗██║   ██║██╔══██╗   #
#    ███████║██║███████╗██║         ██║  ███╗██████╔╝██║   ██║██║   ██║██████╔╝   #
#    ██╔══██║██║╚════██║██║         ██║   ██║██╔══██╗██║   ██║██║   ██║██╔═══╝    #
#    ██║  ██║██║███████║╚██████╗    ╚██████╔╝██║  ██║╚██████╔╝╚██████╔╝██║        #
#    ╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝     ╚═════╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝        #
#               Discord: https://discord.com/invite/HSQC4Kb                       #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
#               Support Discord: https://discord.com/invite/HSQC4Kb               #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true
sv_enforceGameBuild 2699

sv_hostname "HISC GROUP FiveM Server"
set steam_webApiKey ""
sv_licenseKey ""

sv_maxclients 7

sets sv_projectName "HISC FiveM Project"
sets sv_projectDesc "Powered By HISC GROUP"
sets locale "gr-GR"
sets tags "HISC GROUP, default, esx, , Roleplay"
sv_scriptHookAllowed 0

set onesync legacy   # Infinity is not recommended for ESX
set mysql_connection_string "server=;database=;userid=;password=;"

## These resources will start by default.
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure rconlog

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources.
#You need to create the file "scripts.cfg" outside from your resources folder in order to start/ensure all your Scripts.
scripts.cfg
